<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      type="image/vnd.microsoft.icon"
      href="/public/favicon.ico"
    />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/public/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/public/icon-16.png" />
    <link rel="icon" type="image/png" sizes="24x24" href="/public/icon-24.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/icon-32.png" />
    <link rel="icon" type="image/png" sizes="36x36" href="/public/icon-36.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/public/icon-48.png" />
    <link rel="icon" type="image/png" sizes="72x72" href="/public/icon-72.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/public/icon-96.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="/public/icon-128.png" />
    <title>RE:SEARCHER</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="./main.tsx"></script>
  </body>
</html>
